﻿@model TT.Domain.ViewModels.InventoryBonusesViewModel
@using TT.Domain.Statics

@{
    ViewBag.Title = "Inventory";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Item.UnembedRunesList())">Unembed Runes</a></li>
}

@section scripts
{
    <script src="@Links.Scripts.buffsTableColoring_js"></script>
    <script src="@Links.Scripts.itemDetailModal_js"></script>
}

@{

    var HealthWidth = Math.Min(100, Convert.ToInt32(Model.Health / Model.MaxHealth * 100));
    var ManaWidth = Math.Min(100, Convert.ToInt32(Model.Mana / Model.MaxMana * 100));

}

<div class="specialBox specialBox2">
    <div>
        <div class="barWrapper">
            <div class="barText">@Model.Health / @Model.MaxHealth willpower</div>
            <div class="barData barWP" style="width: @HealthWidth%"></div>
        </div>

        <div style="padding-right: 20px;"></div>

        <div class="barWrapper">
            <div class="barText">@Model.Mana / @Model.MaxMana mana</div>
            <div class="barData barMP" style="width: @ManaWidth%"></div>
        </div>

        <div style="padding-right: 20px;"></div>
    </div>

    <p>You are carrying <b>@Model.CurrentCarryCount / @Model.MaxInventorySize</b> items.</p>

    <p>You have used <b>@ViewBag.ItemsUsedThisTurn @(PvPStatics.ChaosMode ? "" : "/ " + PvPStatics.MaxItemUsesPerUpdate)</b> consumable type items this turn.</p>
</div>

<div class="containerInner">


    <div style="clear:both;"></div>
    @Html.Partial(MVC.PvP.Views.partial_InventoryEquipped, Model.Items)

    <br><br>

    <div class="row boxContainer">
        @{

            foreach (var item in Model.Items)
            {
                @Html.Partial(MVC.PvP.Views.partial_InventoryItem, item)

            }

        }
    </div>

    <p>
        <a href="@Url.Action(MVC.Item.ShowStatsTable())">View statistics breakdown</a>
    </p>

    @Html.Partial(MVC.PvP.Views.partial.partial_AllBuffsTable, Model.Bonuses)
</div>
<div class="modal fade" id="itemDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Pet Actions</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>