﻿@model TT.Domain.ViewModels.NewCharacterViewModel

@{
    ViewBag.Title = "New Character";
}

@section scripts
{
    <script src="@Links.Scripts.randomFirstLastNames_js"></script>
    <script src="@Links.Scripts.newCharacter_js"></script>
}

<div>
    <p class="infoMessage error">@ViewBag.ErrorMessage</p>
</div>

<div class="specialBox textSpaced">
    <p>
        <b>
            Welcome to Transformania Time!  Here you can choose a name for your brace mage who dares to enter the town of Sunnyglade in all its dangers and oddities.  If you are starting your first character for the round, you will begin at level 1.  If your previous character has been inanimated or turned into a pet, you can "reroll" yourself a new character immediately but will lose 3 levels and all of your Arpeyjis.  You may keep your same name as before, but your newer incarnation will have a roman numeral appended to the end, ie "Aelianus Marcellius II".


            @if (ViewBag.IsRerolling)
            {
                <br><br>
                <span class="tldr">You currently have an character named @ViewBag.OldFirstName @ViewBag.OldLastName.  If you start over you will no longer be able to perform any actions with them anymore.</span>
            }


        </b>
    </p>
    <p class="bad">By creating a character, you acknowledge that you have looked over the <a href="@Url.Action(MVC.Info.Rules())">Rules of Play</a>.</p>
</div>

<div class="specialBox specialBox2">
    <p><b>Please be aware that you are only allowed one animate player per IP Address.  If there is more than one player on the same IP address actively playing the game, all players on that address will be unable to attack until all but one is inanimate or animal.</b></p>
</div>

<div class="specialBox">
    <p class="bad">If you choose to start in Player versus Player (PvP) mode, you will be vulnerable to inanimate and animal attacks from any other PvP player at any time.  You can only cast spells against other players in PvP in this mode unless they are your friend, in which case all spells are available.</p>
</div>

<div class="specialBox specialBox2">
    <p>If you do not choose to start out in PvP mode then you are considered to be in Protection mode.  You can only cast animate spells against other human players unless they are your friend, in which case you can cast any spell you know against them. </p>
</div>

<div class="specialBox">
    <p class="good">If you choose to start with the Roleplaying flag, you are indicating to other players that you enjoy roleplaying and are open to roleplaying sessions.  You can turn this flag on or off whenever you like.  Enabling or disabling this flag does not alter gameplay in any way.</p>
</div>
<div class="containerInner center-block">
    <p>Who are you?</p>

    <button class="btn btn-default" id="randomize" style="margin-bottom: 25px;">Random</button>


    @using (Html.BeginForm(MVC.PvP.NewCharacter(), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input id="oldFirstName" type="hidden" value="@ViewBag.OldFirstName">
        <input id="oldLastName" type="hidden" value="@ViewBag.OldLastName">
        <input id="oldFormSourceId" type="hidden" value="@ViewBag.OldFormSourceId">

        <text>First name:  </text>
        @Html.EditorFor(x => x.FirstName)
        @Html.ValidationMessageFor(x => x.FirstName)

        <br>

        <text>Last name:</text>
        @Html.EditorFor(x => x.LastName)
        @Html.ValidationMessageFor(x => x.LastName)

        <br>
        <br>

        <p class="good">Start in Roleplaying (RP) mode?</p>
        @Html.CheckBoxFor(x => x.StartInRP)

        <p class="good">Which game mode should this character start in?</p>
        @Html.RadioButtonFor(x => x.StartGameMode, "0")<span class=""> SuperProtection</span><br>
        @Html.RadioButtonFor(x => x.StartGameMode, "1", new { @checked = "checked" })<span class=""> Protection</span><br>
        @Html.RadioButtonFor(x => x.StartGameMode, "2")<span class="bad"> PvP</span>

        <br><br>

        <p class="good">Migrate any old messages to this character?  <br>(Note:This will not work inbetween rounds.)</p>
        @Html.CheckBoxFor(x => x.MigrateLetters)

        <br><br>

        <p class="good">Start as an inanimate object or pet?</p>
        <p>This option immediately starts the character off as a locked object or pet.</p>
        <p>Click on the checkbox only if you want this to happen @Html.CheckBoxFor(x => x.StartAsInanimate, new { id = "itemBox" })</p>
        @Html.EnumDropDownListFor(model => model.InanimateForm, new { id = "itemForm", disabled = "disabled", @class = "disabled" })

        <br><br>

        <p>Original Form:</p>

        <img id="portrait" src="../Images/PvP/portraits/woman_01_mtwof.png" style="width: 300px; height:  300px;"><br>

        <p>Click any form below to change</p>

        <div id="selections"></div>

        @Html.HiddenFor(i => i.FormSourceId)

        <br><br>


        <br><br>
        <input class="btn btn-danger" type="submit" value="Begin">

    }
</div>