﻿@model TT.Domain.Items.DTOs.ItemDetail
           @using TT.Web.CustomHtmlHelpers

<div class="col-md-2 col-sm-3 col-xs-6 charaBox">
    
    @Html.Partial(MVC.PvP.Views.partial.partial_ItemDetail, Model)

    @{
            <div style="text-align: center;">
                <p>@Model.ItemSource.FriendlyName @Html.Partial(MVC.Item.Views.partial.RuneDetails, Model)</p>

                @HtmlHelpers.PrintPvPIcon(Model)
                <span class="price">Price:  @TT.Domain.Procedures.ItemProcedures.GetCostOfItem(Model, "buy") Arpeyjis</span>

                @{
                    if (ViewBag.Wuffie != null && ViewBag.Wuffie)
                    {
                        <a href="@Url.Action(MVC.NPC.PurchasePet(Model.Id))" class="attackLink">Purchase</a>
                    }
                    else if (ViewBag.Lorekeeper != null && ViewBag.Lorekeeper)
                    {
                        <a href="@Url.Action(MVC.NPC.LorekeeperPurchaseBookSend(Model.Id))" class="attackLink">Purchase</a>
                    } else
                    {
                        <a href="@Url.Action(MVC.NPC.Purchase(Model.Id))" class="attackLink">Purchase</a>
                    }
                }

            </div>
    }
</div>
    
    <style>
        .itemName {
            font-size: 20px;
            font-weight: bold;
        }

        .WasPerson {
            font-size: 15px;
            color: chocolate;
            font-style: italic;
        }

        .attackLink {
            text-align: center;
        }
    </style>
