﻿@model IEnumerable<TT.Domain.ViewModels.Location>
@{
    ViewBag.Title = "Teleport";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">
    <h1>Teleport</h1>
    <p>Choose which destination you would like to teleport to using your <b>Scroll of Teleportation</b>. You will be transported there instantly without any action points being used.</p>

    <table id="teleportTable" class="table table-hover messageTable dt-responsive">
        <thead>
        <th>Location</th>
        <th>Region</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var loc in Model)
            {
            <tr>
                <td>@loc.Name</td>
                <td>@loc.Region</td>
                <td> <a href="@Url.Action(MVC.PvP.Teleport(loc.dbName))">Go</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
    $('#teleportTable').dataTable({
        "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]]
    });
    </script>
}
