﻿@model IEnumerable<TT.Domain.Models.Player>
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = $"XP Leaderboard - {PvPStatics.AlphaRound}";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.PlayerStatsLeaders())">Round Achievement Leaders</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.ItemLeaderboard())">View Item Leaderboard</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.PvPLeaderboard())">View Dungeon Leaderboard</a></li>
}

<div class="specialBox"><b>XP Leaderboard -- @PvPStatics.AlphaRound</b><br>
    These are the most experienced magic casters in the town</div>

@if (PvPStatics.ChaosMode)
{
    <div class="specialBox specialBox2">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        During <a href="@Url.Action(MVC.Info.FAQ())#chaosMode">Chaos Mode</a> leaderboard rankings do not reflect the standings at the end of the round and are not saved.
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </div>
}

<div class="containerInner">
    <table>

        <thead>
            <tr>
                <th style="width:15px">#</th>
                <th class="leaderBoardName">Name</th>
                <th class="leaderBoardCovenant mobile">Covenant</th>
                <th class="leaderBoardForm mobile">Form</th>
                <th>Mobility</th>
                <th>Lvl</th>
                <th>Exp</th>
            </tr>
        </thead>
        <tbody>

            @{
                var rank = 1;
            }

            @foreach (var p in Model)
            {
                <tr>
                    <td style="width:15px">
                        @rank
                    </td>
                    <td>
                        <a href="@Url.Action(MVC.PvP.LookAtPlayer(p.Id))">@p.GetFullName()</a>
                        @HtmlHelpers.PrintGenderIcon(p.Gender)
                        @HtmlHelpers.PrintPvPIcon(p)
                    </td>
                    <td class="mobile">
                        @HtmlHelpers.GetCovenantInfoShort(p)
                    </td>
                    <td class="mobile">
                        @FormStatics.GetForm(p.FormSourceId).FriendlyName
                    </td>
                    <td>
                        @{
                if (p.Mobility == PvPStatics.MobilityFull)
                {
                    <span style="color: green">Animate</span>
                }
                else if (p.Mobility == PvPStatics.MobilityPet)
                {
                    <span style="color: red">Animal</span>
                }
                else
                {
                    <span style="color: red">Inanimate</span>
                }
                        }
                    </td>

                    <td>
                        @p.Level
                    </td>
                    <td>
                        @p.XP
                    </td>
                </tr>
                rank++;

            }

        </tbody>



    </table>
</div>

@section head
{
    <style>
    .leaderBoardName {
        width: auto;
    }

    .leaderBoardCovenant {
        width: 20%;
    }

    .leaderBoardForm {
        width: 30%;
    }

    table {
        padding: 3px;
        border: 1px solid black;
        width: 100%;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
        padding: 0px;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
        padding: 2px 0px 2px 0px;
    }

    .dark {
        background-color: #CCCCCC;
    }

    tr.dark:nth-child(odd) {
        background-color: #B8B8B8;
    }

    .mobile {
    }

    @@media screen and (max-width: 767px) {
        .mobile {
            display: none;
        }
    }
    </style>
}

@section scripts
{
    <script>
    var myName = "@ViewBag.MyName";
    if (myName !== "") {
        $("tr td:contains('" + myName + "')").first().parent('tr').css("background-color", "pink");
    }
    </script>
}