﻿@using TT.Domain.Statics
@model TT.Domain.Models.JewdewfaeEncounter
@{
    ViewBag.Title = "Talk to Lorekeeper";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.NPC.LorekeeperPurchaseBook())">Purchase books</a></li>
    <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityFull))">Purchase training for a spell</a></li>
    <li><a href="@Url.Action(MVC.PvP.MySkills())">My spells</a></li>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 20px">
            <img class="img-responsive center-block" src="../Images/PvP/portraits/exiled_lorekeeper_Luxianne.jpg">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 textSpaced" style="padding: 20px; text-align: justify;">
            <p>"Hello mortal...... what ssservice may I provide to you today?  I will sell you knowledge... ssssecret knowledge... for a sssmall handful of Arpeyjis.  Note that I am not ressssponsssible for anyone who issss turned into pantiessss...  What you do with your magick isss of no concern to me..."</p>

            <br>
            <br> <a href="@Url.Action(MVC.NPC.LorekeeperPurchaseBook())">I'd like to purchase a book.</a>
            <br> <a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityFull))">I'd like to learn a spell.</a>

        </div>
    </div>
</div>

