﻿@model TT.Domain.Models.JewdewfaeEncounter
@{
    ViewBag.Title = "Talk to Candice";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 20px">
            <img class="img-responsive center-block" src="../Images/PvP/portraits/bimbo_mouse_boss_Dandelion.jpg">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 textSpaced" style="padding: 20px; text-align: justify;">
            <p>"Hello!  I'm Candice Brisby... as I'm sure you already know.  You've seen my nude full page spreads, haven't you?  Heehee, you look like you spent all night lusting after what you saw!  I could arrange a meeting with you, let you see it all in the flesh...</p>

            <p>So um, I'm liking having this fight with my bratty nerd sister, Adrianna.  I can't stand her anymore; she's just such a jerk!  Help me out, sweetie, will ya?  Go help me change her body... and mind... so she can finally find out how big of a loser she's become!  Maybe then we can have some fun together like when we used to before she got all stuck up and boring."</p>

            <p>"And you'd better not be on her side!  Stick with me and I'll make sure you become the most sexy little hottie!  That'll REALLY get under her skin..."</p>
        </div>
    </div>
</div>

