﻿@model TT.Domain.ViewModels.NPCs.JewdewfaeEncounterViewModel
@{
    ViewBag.Title = "Talk to Jewdewfae";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 20px">
            <img class="img-responsive center-block" src="../Images/PvP/portraits/jewdewfae_Luxianne.png">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 textSpaced" style="padding: 20px; text-align: justify;">
            @{
                if (!Model.ShowSuccess && !Model.HadRecentInteraction)
                {
                    <p>@Html.Raw(Model.JewdewfaeEncounter.IntroText)</p>

                    if (Model.IsInWrongForm)
                    {
                        <p>@Html.Raw(Model.JewdewfaeEncounter.FailureText)</p>
                    }
                    else if (Model.IsTired)
                    {
                        <p class="faevoice">"You look too tired to be any fun right now.  Come back later when you're a little more awake, mkay?"</p>
                    }
                    else
                    {
                        <p><a href="@Url.Action(MVC.NPC.PlayWithJewdewfae())" class="inanimateAction center-block">Play with Jewfewfae (5 AP)</a></p>
                    }
                }
                else if (Model.HadRecentInteraction)
                {
                    <p class="faevoice">"Thanks for playing with me!  Maybe we can have some more fun somewhere else later!"</p>
                }
                else
                {
                    <p>@Html.Raw(Model.JewdewfaeEncounter.CorrectFormText)</p>
                    <p style="text-align: center !important"><b><i>You earned @Math.Floor(Model.XPGain) XP from Jewdewfae's magic.  @Html.Raw(Model.SpellsLearned)</i></b></p>
                }
            }
        </div>
    </div>
</div>





<style>
    .faevoice,fae {
        color: darkviolet;
    }

</style>