﻿@model IEnumerable<TT.Domain.Items.DTOs.ItemDetail>
@using TT.Domain.Models
@using TT.Domain.Statics
@{
    ViewBag.Title = "Buy Item";
}

@section scripts
{
    <script src="@Links.Scripts.itemDetailModal_js"></script>
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.NPC.SellList())">Sell Something</a></li>
}

<div class="containerInner">

    <h1>Purchase from Lindella</h1>

    <p>You can purchase clothing and items that were once fellow mages like you from Lindella, as well as a variety of non-human magical consumable items that will help you from ending up in a similar fate from your enemies. Please keep in mind that some of Lindella's formerly-human merchandise may not be fond of their new inanimate lifestyle or their owners and change back after struggling against the magic trapping them long enough. No refunds!</p>

    <p>You currently have <b>@ViewBag.MyMoney</b> <span title="Arpeyjis" class="icon icon-money"></span> Arpeyjis to spend.</p>

    <br>

    <p><b><a href="@Url.Action(MVC.NPC.SellList())">Sell Something</a></b></p>

    <p style="text-align: center;">
        <br>
        Show by type:<br>
        <table style="width: 100%; text-align: center;">
            <tr style="width: 25%;">
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Hat))">Hats / Headwear</a></td>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Shirt))">Shirts and Dresses</a></td>
                <td> <a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Undershirt))">Bras and Undershirts</a></td>
            </tr>
            <tr style="width: 25%;">
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Pants))">Skirts and Pants</a></td>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Underpants))">Underwear</a></td>
                <td> <a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Shoes))">Shoes</a></td>
            </tr>
            <tr style="width: 25%;">
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Accessory))">Accessories</a></td>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Consumable_Reuseable))">Reusable Consumables</a></td>
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Consumable))">Consumables</a></td>
            </tr>
            <tr style="width: 25%;">
                <td><a href="@Url.Action(MVC.NPC.TradeWithMerchant(PvPStatics.ItemType_Rune))">Runes</a></td>
                <td></td>
                <td></td>
            </tr>

        </table>


    </p>
    <div id="fullDetails">

    </div>
    <div class="row boxContainer">

        @{
            foreach (var i in Model.OrderBy(i => i.dbName).ThenByDescending(i => i.Level))
            {
                @Html.Partial(MVC.PvP.Views.partial_ShopkeeperItem, i)
            }
        }
    </div>
</div>