<div class="containerInner">

    <h1>Statistics Leaders</h1>

     <br><br>

    <div class="row">
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/succubine_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hawkeye</h3>
                        <p><i>Times searched:</i> <b>19,197</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095238">Jesse Ketch</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_searched"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095238">Jesse Ketch</a> (19,197)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095836">Thebutler Ofsunnyglade</a> (15,969)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1097507">Sawyer Keys</a> (13,526)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095714">Efrain Cope</a> (9,261)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1098437">Gaia Grissom II</a> (9,176)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1099104">Kris Latex</a> (7,115)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095578">Ryan Bends</a> (6,760)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1096628">Nimwena Hadoran</a> (6,650)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095230">Kyrah Binbow</a> (6,555)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095428">Athena Arclily</a> (6,356)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
                        <p><i>Spells cast:</i> <b>4,653</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_spells_cast"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (4,653)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (2,739)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (2,665)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (2,431)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (2,421)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (2,338)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (2,297)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (2,296)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (2,247)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1100101">Regulus Shanks</a> (1,770)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Restless One</h3>
                        <p><i>Times moved:</i> <b>60,100</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_moved"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (60,100)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a> (54,829)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095250">Jo Daimyo</a> (20,709)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095505">Crystal Draper</a> (15,539)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (13,501)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (13,319)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095222">Misty Lovett</a> (12,587)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (11,777)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (11,233)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095558">ASSassin Booty</a> (10,786)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hypochondriac</h3>
                        <p><i>Times cleansed:</i> <b>1,630</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_cleansed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (1,630)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1100101">Regulus Shanks</a> (1,610)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095382">Joseph Wow</a> (1,540)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (1,483)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (1,479)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095780">Lefty Wow</a> (1,372)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (1,342)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1098573">Caged Forever</a> (1,248)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1105940">Glenna Coy</a> (1,128)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095438">Marta Herring II</a> (1,090)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/demon_prince_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Lost in Thought</h3>
                        <p><i>Times meditated:</i> <b>1,557</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1101155">Nikki Bird</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_meditated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (1,557)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (1,284)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (1,185)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095541">Victoria Justice</a> (1,151)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1103432">Jade Kiwi II</a> (1,039)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1100101">Regulus Shanks</a> (958)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095182">Martha 'Arclily' Pharnia</a> (952)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (931)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1098894">Claudius Holly</a> (885)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095540">Katie Broadnax</a> (885)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
                        <p><i>Times enchanting:</i> <b>1,807</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095183">Zoe Emery</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_enchanted"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (1,807)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1096273">Dawson Ramirez</a> (1,508)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (1,132)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095541">Victoria Justice</a> (1,100)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1098437">Gaia Grissom II</a> (1,018)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095811">Natalia Crawley</a> (873)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1098894">Claudius Holly</a> (457)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095222">Misty Lovett</a> (419)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1110492">Justin Colton II</a> (409)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (367)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
                        <p><i>Net Arpyjis donated to covenant:</i> <b>62,500</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095183">Zoe Emery</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_net_donations"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (62,500)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (60,000)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (47,000)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095182">Martha 'Arclily' Pharnia</a> (27,960)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (25,000)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (17,800)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1100377">Henny Wuns</a> (16,000)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095836">Thebutler Ofsunnyglade</a> (9,720)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095438">Marta Herring II</a> (8,500)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (8,500)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/meek_manservent_CherryCake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Couch Potato</h3>
                        <p><i>Times using covenant furniture:</i> <b>32</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095836">Thebutler Ofsunnyglade</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_furniture_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095836">Thebutler Ofsunnyglade</a> (32)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (30)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (29)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (25)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (24)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095238">Jesse Ketch</a> (21)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1098573">Caged Forever</a> (21)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (21)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (19)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095182">Martha 'Arclily' Pharnia</a> (18)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_bane_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
                        <p><i>Times transformed into an animate form:</i> <b>95</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095257">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (95)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1100506">Frosty Wolfy</a> (56)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095635">Maria Hannon</a> (48)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1100589">Letitia Barbossa II</a> (45)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1100426">Silver Baker</a> (43)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (42)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095240">Vixen Fox</a> (40)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1097636">Caecilia Buck</a> (39)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1109953">Jenny Williams</a> (38)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095273">Tomiko Hewitt</a> (31)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/lion_stripper_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimated</h3>
                        <p><i>Times transformed into an inanimate form:</i> <b>11</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1105940">Glenna Coy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1105940">Glenna Coy</a> (11)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1100707">Lucina Pritchett</a> (9)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1106603">Tabatha Colley</a> (9)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1108697">Erin Christensen II</a> (9)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1109317">Afituz Mayes</a> (9)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1106763">Ddraig Valcun</a> (9)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1107447">Lessie Tinker IV</a> (9)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1111496">Marcos Prewitt V</a> (9)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1106201">Katherine Park</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1102701">Lorrie Hofmann III</a> (8)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/animalPortraits/Thumbnails/100/inflateable_dragon_maid_Balloondra.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
                        <p><i>Times transformed into a pet form:</i> <b>8</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1105091">Jasper Roselight</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animal"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1105091">Jasper Roselight</a> (8)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1108626">Jody Baines</a> (6)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1102701">Lorrie Hofmann III</a> (5)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1097716">Bambi Spellpet</a> (5)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1103227">Tia Custer II</a> (4)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1103113">Honey Ryder</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1104383">Neferpitou Dono II</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1099498">Luca Baines</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1109953">Jenny Williams</a> (4)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1103432">Jade Kiwi II</a> (4)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_bane_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Animator</h3>
                        <p><i>Targets transformed into an animate form:</i> <b>120</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095257">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (120)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (98)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095240">Vixen Fox</a> (83)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (69)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1100506">Frosty Wolfy</a> (64)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095218">Sir Eric</a> (61)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095540">Katie Broadnax</a> (56)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1101229">Kim Felis</a> (55)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095273">Tomiko Hewitt</a> (53)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1105910">Lulu Everglow</a> (53)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimator</h3>
                        <p><i>Targets transformed into an inanimate form:</i> <b>187</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (187)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (174)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095182">Martha 'Arclily' Pharnia</a> (170)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (146)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (76)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1102168">Aldo Thorngaze II</a> (72)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1103432">Jade Kiwi II</a> (70)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (67)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (62)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1101219">Nerpa White</a> (57)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/deertaur_maid_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petmaker</h3>
                        <p><i>Targets transformed into a pet form:</i> <b>250</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animaling"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (250)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a> (89)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (50)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095524">Lam Ron</a> (31)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095312">Catherine Moonlight</a> (21)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1098741">Caiden Mccune</a> (20)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (17)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1102152">Johnnie Bottoms III</a> (12)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095240">Vixen Fox</a> (12)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095769">Eric Finney</a> (12)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/deertaur_maid_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
                        <p><i>Psychopathic Spellslingers defeated:</i> <b>274</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_psychos_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (274)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (175)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095182">Martha 'Arclily' Pharnia</a> (174)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (162)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (142)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (110)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a> (83)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1102168">Aldo Thorngaze II</a> (79)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1103432">Jade Kiwi II</a> (73)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1101219">Nerpa White</a> (59)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/watery_slime_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fast Commute</h3>
                        <p><i>Teleport scrolls used:</i> <b>125</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_teleported_scroll"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a> (125)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (7)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095222">Misty Lovett</a> (3)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095541">Victoria Justice</a> (3)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1100426">Silver Baker</a> (3)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1097784">Nicholas Evans II</a> (3)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (3)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1108697">Erin Christensen II</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1106763">Ddraig Valcun</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1096957">Ell Thompson</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/alraune_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
                        <p><i>Times played with Jewdewfae:</i> <b>27</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095769">Eric Finney</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_jewdewfae_completions"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095769">Eric Finney</a> (27)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095244">Shredster Khan</a> (20)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (13)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (12)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095590">Steve Welles</a> (11)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1097152">Chris Self</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1102668">Lakisha Lang III</a> (6)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1098437">Gaia Grissom II</a> (6)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1096359">Roland Macmillan</a> (6)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1100377">Henny Wuns</a> (5)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
                        <p><i>Tomes read:</i> <b>14</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095233">Tara Sapphire</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lore_books_read"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095233">Tara Sapphire</a> (14)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (14)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (14)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095230">Kyrah Binbow</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095590">Steve Welles</a> (14)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1102168">Aldo Thorngaze II</a> (13)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (10)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (10)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1106763">Ddraig Valcun</a> (10)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1104034">Anon Milo III</a> (9)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/limbless_balloon_girl_blaca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
                        <p><i>XP gained as an inanimate item:</i> <b>39,975</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095231">Bobbing Bimballoon</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_inanimateXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095231">Bobbing Bimballoon</a> (39,975)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095229">Kira-Christi's Snuggling-pillow</a> (39,080)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095241">Playfully-Flicking Fluffy-Tail</a> (37,833)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095350">Cassie's Jessietits</a> (37,080)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1097145">Kaye Greiner</a> (36,480)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1096606">Adora Sparklyheels</a> (35,910)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095596">Phoebe Stormbringer</a> (35,320)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095468">Beleth Astaroth</a> (35,305)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095511">Noreen's Cute-Stockings</a> (34,855)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095239">Squeaky Swimring</a> (32,760)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/animalPortraits/Thumbnails/100/fairy_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petter off this Way</h3>
                        <p><i>XP gained as an pet.:</i> <b>39,985</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095180">Lily Clover</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_petXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095180">Lily Clover</a> (39,985)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095370">Joe Nobody II</a> (39,905)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095391">Feronia Aedor</a> (31,335)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095325">Jade Starr</a> (30,095)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095224">Favorite Pet</a> (30,050)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095237">Rose Coker</a> (29,905)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1096260">Noreen's Reddy</a> (29,055)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1097277">Prios 'Tiny Maid' Priosprios</a> (26,245)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1102367">Alex Lexna</a> (23,530)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095863">Squeak Foley</a> (23,305)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Seller</h3>
                        <p><i>Net profit from selling to Lindella:</i> <b>69,463</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095183">Zoe Emery</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (69,463)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (60,302)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095836">Thebutler Ofsunnyglade</a> (57,075)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (41,860)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (38,823)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095182">Martha 'Arclily' Pharnia</a> (32,152)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (20,878)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (18,302)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1105940">Glenna Coy</a> (16,784)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1098437">Gaia Grissom II</a> (13,485)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/watery_slime_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Consumer</h3>
                        <p><i>Net loss from buying from Lindella:</i> <b>139,237</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a> (139,237)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095312">Catherine Moonlight</a> (5,227)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095524">Lam Ron</a> (4,337)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1100891">Hyouden Roar</a> (2,558)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095244">Shredster Khan</a> (2,488)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1111077">Kamryn Mcbride</a> (2,244)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1096628">Nimwena Hadoran</a> (1,880)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1097784">Nicholas Evans II</a> (1,163)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095245">Madge Mercy</a> (1,140)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1108798">Matt 'Mattie' Delicele III</a> (1,014)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/watery_slime_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
                        <p><i>Profit from selling to Wuffie:</i> <b>135,550</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a> (135,550)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (12,860)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095524">Lam Ron</a> (6,070)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095312">Catherine Moonlight</a> (5,100)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1100377">Henny Wuns</a> (2,420)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1102277">Nakiami Shinzakura II</a> (2,270)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1100891">Hyouden Roar</a> (2,220)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1096628">Nimwena Hadoran</a> (1,220)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095244">Shredster Khan</a> (900)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1100815">Pia Abatangelo</a> (800)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
                        <p><i>Loss from buying from Wuffie:</i> <b>3,200</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (3,200)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (1,840)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (1,040)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1104979">Katharine Wiseman</a> (730)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1097369">Geoffe Beastfriend</a> (700)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1102168">Aldo Thorngaze II</a> (600)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1098862">Kay Whalen III</a> (590)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1098335">Nep Quazzeon</a> (550)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1105740">Hitachi Mako V</a> (540)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1100808">Allison Cheney</a> (460)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/lion_stripper_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
                        <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>149</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1105940">Glenna Coy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lorekeeper_spells_learned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1105940">Glenna Coy</a> (149)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1103482">Lee Poore</a> (108)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1104399">Alice Lucine II</a> (69)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1101219">Nerpa White</a> (68)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095225">Adam Hillman</a> (49)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (48)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (39)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1103432">Jade Kiwi II</a> (39)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1105529">Sophie Penrod</a> (37)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095240">Vixen Fox</a> (36)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
                        <p><i>Dungeon artifacts found:</i> <b>350</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_artifacts_found"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (350)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095250">Jo Daimyo</a> (285)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095505">Crystal Draper</a> (210)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095558">ASSassin Booty</a> (135)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095833">Samson Sheets</a> (115)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095235">Kai Boobsu</a> (41)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (21)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095480">Rosa Fortune</a> (17)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1096951">Erin Keys</a> (12)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1103197">Arane Misa</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Demonslayer</h3>
                        <p><i>Dungeon demons defeated:</i> <b>8</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095208">Christi Bender</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_demons_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (8)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (3)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095915">Tristen Humphreys</a> (1)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1098894">Claudius Holly</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
                        <p><i>Dungeon points stolen from victims:</i> <b>110</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095208">Christi Bender</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_points_stolen"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (110)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095222">Misty Lovett</a> (90)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (48)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095225">Adam Hillman</a> (16)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1106793">Eirena Shashavani</a> (9)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1100716">Sophia Cumthirsts</a> (7)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1100043">Nel ASSpher</a> (5)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095404">Erika Parsons</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1105911">Thoth Maki III</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/lion_stripper_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
                        <p><i>Times struggled back to an animate form:</i> <b>14</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1105940">Glenna Coy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_struggled_free"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1105940">Glenna Coy</a> (14)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1102701">Lorrie Hofmann III</a> (11)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1106763">Ddraig Valcun</a> (10)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095404">Erika Parsons</a> (9)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1105091">Jasper Roselight</a> (9)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1097739">Sara Rickard</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1102307">Morgan Jaye</a> (8)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1100589">Letitia Barbossa II</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1107447">Lessie Tinker IV</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1107295">Fifi Tarver</a> (8)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fallen_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
                        <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>34</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095244">Shredster Khan</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_transmogs_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095244">Shredster Khan</a> (34)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095769">Eric Finney</a> (27)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (23)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (22)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1105911">Thoth Maki III</a> (15)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (13)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095590">Steve Welles</a> (12)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1102668">Lakisha Lang III</a> (12)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095542">Purriscilla Nyekobornya</a> (11)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1097886">Flynne Krueger</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
                        <p><i>Covenant Callback Crystals used:</i> <b>19</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1098437">Gaia Grissom II</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_callback_crystals_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1098437">Gaia Grissom II</a> (19)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095806">Alex Champion</a> (18)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (9)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (6)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095238">Jesse Ketch</a> (2)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1098489">Lily Harr</a> (2)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1104291">Regulus Vogel II</a> (2)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1105933">Maximo Malvaez II</a> (2)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1097539">Selena Rose</a> (1)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1097184">Lois Hallman</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dollyamory</h3>
                        <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>16,200</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dolls_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (16,200)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (8,920)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (2,705)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1100101">Regulus Shanks</a> (1,490)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1105940">Glenna Coy</a> (1,420)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095721">Bailey Lunds</a> (1,290)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1103227">Tia Custer II</a> (1,205)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095245">Madge Mercy</a> (1,200)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1102168">Aldo Thorngaze II</a> (970)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (845)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cervine_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
                        <p><i>Quests failed:</i> <b>100</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095550">Annabelle Andrews</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_failed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095550">Annabelle Andrews</a> (100)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1097085">Erica Mccallum</a> (45)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (40)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1098453">Fenny Reiko</a> (36)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1098846">Alan Sommer</a> (33)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1103185">Romnia Holland III</a> (26)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1101594">Alejandro Wilde II</a> (25)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095433">Brea Streets</a> (22)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1099498">Luca Baines</a> (21)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1097117">Brittany Ortiz</a> (21)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/animalPortraits/Thumbnails/100/bimboSphere_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Adventure Time!</h3>
                        <p><i>Quests passed:</i> <b>11</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095230">Kyrah Binbow</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_passed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095230">Kyrah Binbow</a> (11)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1097085">Erica Mccallum</a> (11)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1099607">Maggie Minor</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1099212">Dian Tracy</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1099669">Dianna Tracy</a> (11)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095915">Tristen Humphreys</a> (11)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1104034">Anon Milo III</a> (11)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095721">Bailey Lunds</a> (11)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1098125">Corey Green II</a> (11)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1105911">Thoth Maki III</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
                        <p><i>Total distance riding the bus:</i> <b>3,883</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095182">Martha 'Arclily' Pharnia</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_busrides"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095182">Martha 'Arclily' Pharnia</a> (3,883)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1097477">Norma Ferrari</a> (2,230)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095836">Thebutler Ofsunnyglade</a> (792)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1102277">Nakiami Shinzakura II</a> (423)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1097085">Erica Mccallum</a> (337)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (307)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1100891">Hyouden Roar</a> (303)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1098437">Gaia Grissom II</a> (213)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1102152">Johnnie Bottoms III</a> (212)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095754">Suki Foy</a> (200)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/the_luckiest_guy_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
                        <p><i>Total targets hit with TG Splash Orbs:</i> <b>220</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095288">Michael Rochard</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_tg_bomb_hits"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095288">Michael Rochard</a> (220)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1100426">Silver Baker</a> (75)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095306">Constance Nuvelle</a> (73)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1097716">Bambi Spellpet</a> (63)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1100506">Frosty Wolfy</a> (57)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1099255">Jaklyn Wayland</a> (52)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1098437">Gaia Grissom II</a> (50)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095236">Rob Martinson</a> (45)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1098453">Fenny Reiko</a> (45)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1101202">Max Edward</a> (41)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Player Transformayer</h3>
                        <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>38</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095208">Christi Bender</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_player_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (38)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095240">Vixen Fox</a> (33)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (32)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1103227">Tia Custer II</a> (24)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1101253">Cornelius Adams</a> (18)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095404">Erika Parsons</a> (17)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095541">Victoria Justice</a> (17)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1100101">Regulus Shanks</a> (15)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1098061">Danny Lefevure III</a> (15)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095222">Misty Lovett</a> (14)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Level Shmevel</h3>
                        <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>201</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095208">Christi Bender</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_total_level_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (201)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1101155">Nikki Bird</a> (125)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095240">Vixen Fox</a> (110)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1100101">Regulus Shanks</a> (89)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1101253">Cornelius Adams</a> (71)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1103227">Tia Custer II</a> (68)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095739">Kayson Mckeever</a> (61)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095222">Misty Lovett</a> (58)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1098061">Danny Lefevure III</a> (55)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095404">Erika Parsons</a> (54)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
                        <p><i>Times attacking boss NPCs:</i> <b>731</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_totalBossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (731)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (476)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (136)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (116)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095721">Bailey Lunds</a> (107)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (83)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (72)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095525">Ken Tani</a> (65)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095438">Marta Herring II</a> (65)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (65)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">I Am the Law!</h3>
                        <p><i>Times attacking the Seekshadow thieves:</i> <b>53</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_ratThiefAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (53)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (33)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (22)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (12)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095438">Marta Herring II</a> (5)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095721">Bailey Lunds</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095404">Erika Parsons</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095245">Madge Mercy</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
                        <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>183</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_lovebringerAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (183)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (144)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095525">Ken Tani</a> (65)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (59)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095244">Shredster Khan</a> (51)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095721">Bailey Lunds</a> (45)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (37)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1100426">Silver Baker</a> (33)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1100101">Regulus Shanks</a> (20)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095590">Steve Welles</a> (20)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Down With Donna!</h3>
                        <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>187</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_donnaAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (187)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095438">Marta Herring II</a> (47)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (46)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095721">Bailey Lunds</a> (33)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (32)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (29)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095245">Madge Mercy</a> (27)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095183">Zoe Emery</a> (26)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095184">Harper Smothers</a> (18)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1097152">Chris Self</a> (12)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fae-Away</h3>
                        <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>124</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_faebossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (124)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (92)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (33)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (22)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095225">Adam Hillman</a> (9)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095721">Bailey Lunds</a> (3)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1097784">Nicholas Evans II</a> (3)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1097085">Erica Mccallum</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1097117">Brittany Ortiz</a> (2)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1097806">Vanilla Cream</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Brisby Battler</h3>
                        <p><i>Times attacking either of the Brisby twins:</i> <b>100</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_mouseSisterAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (100)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (58)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095213">Nadia 'Alex's Breeding Cow' Ayers</a> (56)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095449">Devon Barela</a> (27)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1098664">Natasha Silverson</a> (17)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
                        <p><i>Times attacking Harley the Road Queen:</i> <b>162</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_motorcycleGangAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (162)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (84)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095217">Ellis Hamlin</a> (35)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095257">Holly Ryder</a> (31)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095721">Bailey Lunds</a> (22)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (22)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095438">Marta Herring II</a> (13)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095449">Devon Barela</a> (12)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095245">Madge Mercy</a> (12)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095222">Misty Lovett</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A Change in Management</h3>
                        <p><i>Times attacking any mini-boss:</i> <b>1,315</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_minibossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (1,315)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1095382">Joseph Wow</a> (1,207)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1095780">Lefty Wow</a> (828)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1095438">Marta Herring II</a> (752)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095275">Maddie Meadows</a> (697)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (688)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1095222">Misty Lovett</a> (603)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1095210">Lady Mitsuko</a> (594)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1100101">Regulus Shanks</a> (593)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1095225">Adam Hillman</a> (509)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
                        <p><i>Number of mind control commands issued:</i> <b>56</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_mind_control_commands_issued"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1095220">Nadine Blanchette</a> (56)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1101219">Nerpa White</a> (39)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1103432">Jade Kiwi II</a> (12)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1104096">Manlius Wenzel III</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1095208">Christi Bender</a> (11)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1095184">Harper Smothers</a> (10)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1100426">Silver Baker</a> (9)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1101229">Kim Felis</a> (9)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1095524">Lam Ron</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1097011">Liv Akira</a> (7)
            </p>

</div></div>

                </div>

    </div>

    <div id="topTypeList"></div>



</div>