﻿<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>13,408</b></p>
            <p>
                <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a> (13,408)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461673">Kyrah Amantes</a> (10,113)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461769">Shira 'The Fallen' Baela</a> (6,718)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462412">Kay Flames</a> (4,141)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/467717">Marcellus Ravencrow II</a> (3,995)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461577">Lindsey Knailt</a> (3,754)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/462511">Nihat Unal</a> (3,565)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461984">Janeen Wiccanshire</a> (3,352)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/462141">Nyasa Meownya</a> (3,348)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/466913">Alex Fenton</a> (3,072)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harpy_maiden_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>4,233</b></p>
            <p>
                <a href="/pvp/lookatplayer/461593">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (4,233)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (1,753)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (1,555)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (1,464)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (1,337)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (1,321)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461931">Pepe Maus</a> (1,285)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/466938">Mystic Lilla II</a> (1,211)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461556">Evangelina 'You're already Bread' Kraft</a> (1,014)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (968)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>11,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/462590">Robin Bynum III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/462590">Robin Bynum III</a> (11,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (8,233)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (7,984)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (6,379)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a> (6,029)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (5,363)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461951">Silke Hose</a> (4,752)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (3,920)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/470025">Valri Delacroix VI</a> (3,795)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461754">Summer Fields</a> (3,778)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/fallen_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,768</b></p>
            <p>
                <a href="/pvp/lookatplayer/461694">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (1,768)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461551">Freya Rein</a> (1,355)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (759)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/466913">Alex Fenton</a> (641)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (639)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/466938">Mystic Lilla II</a> (612)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (612)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (554)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461931">Pepe Maus</a> (514)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461754">Summer Fields</a> (473)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harpy_maiden_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,874</b></p>
            <p>
                <a href="/pvp/lookatplayer/461593">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (1,874)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461829">Elian Callaway</a> (1,513)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (935)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (875)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (832)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/462511">Nihat Unal</a> (751)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (701)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (684)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461532">Shredster Khan</a> (635)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (593)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/stripper_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,782</b></p>
            <p>
                <a href="/pvp/lookatplayer/461829">Elian Callaway</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461829">Elian Callaway</a> (2,782)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/462511">Nihat Unal</a> (1,726)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461567">Ziggy Anvil</a> (654)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462907">Sunday Dawson</a> (536)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461577">Lindsey Knailt</a> (492)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461562">Cali Knight</a> (464)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/468554">Lindsey Knaiit</a> (338)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461735">Nadia Ayers</a> (327)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461673">Kyrah Amantes</a> (307)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/462095">Mage Warrior</a> (263)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harpy_maiden_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>54,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/461593">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (54,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a> (32,280)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (23,000)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461673">Kyrah Amantes</a> (15,300)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/462412">Kay Flames</a> (14,960)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461577">Lindsey Knailt</a> (12,480)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461551">Freya Rein</a> (9,600)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/462511">Nihat Unal</a> (8,000)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461719">Dark Blade</a> (5,940)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461715">Jo Glass</a> (3,700)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>177</b></p>
            <p>
                <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a> (177)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (109)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (69)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (51)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461735">Nadia Ayers</a> (48)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461577">Lindsey Knailt</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/469299">Maisie Sterling VIII</a> (45)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/462412">Kay Flames</a> (41)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/467717">Marcellus Ravencrow II</a> (41)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461829">Elian Callaway</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>124</b></p>
            <p>
                <a href="/pvp/lookatplayer/461640">Adriana Beamon</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (124)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (123)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461650">Gwen Majors</a> (99)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (62)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/462096">Seth Shandow</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a> (48)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461569">Nyarinya Nyekobornya</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/466714">Glacia Rosenbun IV</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/466086">Natsumi Usagi</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/462383">Usagi Sama</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_hair_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/470025">Valri Delacroix VI</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/470025">Valri Delacroix VI</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/465960">Staci Rios II</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/470445">Kinello Hirone</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/469277">Rana Sephora</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/470048">Shane Merrick VIII</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/462383">Usagi Sama</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/470478">Krystel Night</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/469694">Crystal Naquin</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_14_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/470531">Jill Strunk VII</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/470531">Jill Strunk VII</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/469299">Maisie Sterling VIII</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462205">Juelz Upton</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/469618">Cindy Gold II</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/470025">Valri Delacroix VI</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/468219">Alexis Grove</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/465960">Staci Rios II</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/469950">Stefan Landers</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/463256">Zel Argentis</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harpy_maiden_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>201</b></p>
            <p>
                <a href="/pvp/lookatplayer/461593">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (201)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (133)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (114)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461650">Gwen Majors</a> (66)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461632">Meowrinya Nyekobornya</a> (65)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a> (54)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (36)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/462345">Luna Moonwell</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/462096">Seth Shandow</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harpy_maiden_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>203</b></p>
            <p>
                <a href="/pvp/lookatplayer/461593">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (203)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (80)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/466938">Mystic Lilla II</a> (72)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (67)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461931">Pepe Maus</a> (62)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461532">Shredster Khan</a> (55)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (54)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461556">Evangelina 'You're already Bread' Kraft</a> (43)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/465239">Oddette Flechta</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bimboSphere_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>23</b></p>
            <p>
                <a href="/pvp/lookatplayer/468490">Dominator Guy II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (23)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (23)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461557">Aleigh Change</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/463389">Quasa Voeii</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461715">Jo Glass</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/469965">Bailey Havens III</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/466978">Nikki Aliyah III</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461744">James Drake</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/466938">Mystic Lilla II</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harpy_maiden_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>201</b></p>
            <p>
                <a href="/pvp/lookatplayer/461593">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (201)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (102)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/466938">Mystic Lilla II</a> (73)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (69)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461931">Pepe Maus</a> (64)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461532">Shredster Khan</a> (57)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/463389">Quasa Voeii</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461715">Jo Glass</a> (37)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461840">Cassandra Crowley</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/new_age_retro_hippy_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>36</b></p>
            <p>
                <a href="/pvp/lookatplayer/461951">Silke Hose</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461951">Silke Hose</a> (36)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/465239">Oddette Flechta</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461829">Elian Callaway</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462842">Vhaidra Tylsaris</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461701">Cody Smith</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/464943">Harold Winston</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/463042">Jane 'Sister Sinister' County</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461558">Leena Mcridill</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harpy_maiden_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>90</b></p>
            <p>
                <a href="/pvp/lookatplayer/461593">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (90)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (75)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (65)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461754">Summer Fields</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461532">Shredster Khan</a> (37)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461735">Nadia Ayers</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461719">Dark Blade</a> (22)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461556">Evangelina 'You're already Bread' Kraft</a> (19)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461947">Allyssa Adams</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/461847">Lisa Frost</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461673">Kyrah Amantes</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/463389">Quasa Voeii</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461556">Evangelina 'You're already Bread' Kraft</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/462071">Lenja Quinn</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461931">Pepe Maus</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/disembodied_chest_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,710</b></p>
            <p>
                <a href="/pvp/lookatplayer/461667">Kitty 'Nipples' Thorpe</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461667">Kitty 'Nipples' Thorpe</a> (24,710)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461603">Felucca Ayers</a> (24,480)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461685">Auly Jua</a> (21,875)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461861">Arrhae Hale</a> (21,115)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461700">Marcus Aurelius</a> (20,965)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/462217">Amy Tong</a> (20,225)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461676">Caru Pawb</a> (18,088)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461787">Nina Susser</a> (17,210)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461765">Calem Cotton</a> (17,205)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461998">Fat Tits</a> (16,730)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/rubber_love_doll_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,970</b></p>
            <p>
                <a href="/pvp/lookatplayer/461633">Mindless Slavedoll</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461633">Mindless Slavedoll</a> (24,970)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461663">Jesses Pet</a> (24,830)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461570">Melina Mercy</a> (20,915)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462112">Zrixoria Sihtri</a> (19,905)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461665">Angeline Zamora</a> (17,395)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/462215">Phoebe Stormbringer</a> (16,755)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461572">Dorothy Silver</a> (16,245)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461725">Lulu Meownya</a> (14,845)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461649">Rosa Reza</a> (14,435)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461737">Minervas Painslut</a> (14,060)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harpy_maiden_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>47,654</b></p>
            <p>
                <a href="/pvp/lookatplayer/461593">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (47,654)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a> (35,841)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (25,226)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462590">Robin Bynum III</a> (19,623)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461673">Kyrah Amantes</a> (14,655)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/462412">Kay Flames</a> (13,161)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461577">Lindsey Knailt</a> (9,793)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461764">Olwen Button</a> (9,228)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/462511">Nihat Unal</a> (9,053)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/463520">Neko Purr</a> (7,873)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>3,858</b></p>
            <p>
                <a href="/pvp/lookatplayer/462011">Lucius Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (3,858)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (3,636)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461951">Silke Hose</a> (2,475)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (2,060)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461532">Shredster Khan</a> (1,981)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/462308">Tyrel Kearns</a> (854)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461755">Candi Suxwell</a> (812)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/462121">Xander Nikos</a> (718)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461623">Alexander Everson</a> (689)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/462126">Jack Anzac</a> (644)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>20,062</b></p>
            <p>
                <a href="/pvp/lookatplayer/462590">Robin Bynum III</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/462590">Robin Bynum III</a> (20,062)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461754">Summer Fields</a> (3,644)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/470445">Kinello Hirone</a> (3,391)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461951">Silke Hose</a> (2,953)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/470025">Valri Delacroix VI</a> (2,864)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/468064">Maxine Conres II</a> (1,265)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/462141">Nyasa Meownya</a> (1,128)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/464393">Spurius Henning II</a> (1,105)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461877">Courtney Harbin</a> (887)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461735">Nadia Ayers</a> (875)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>691</b></p>
            <p>
                <a href="/pvp/lookatplayer/462095">Mage Warrior</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/462095">Mage Warrior</a> (691)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/469965">Bailey Havens III</a> (680)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (569)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461769">Shira 'The Fallen' Baela</a> (527)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461621">Maeve 'Don't Tempt Me' Morrigan</a> (434)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461602">Mattie Nye</a> (427)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/466938">Mystic Lilla II</a> (309)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461890">Selina Muliaina</a> (259)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461984">Janeen Wiccanshire</a> (255)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461744">James Drake</a> (227)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>450</b></p>
            <p>
                <a href="/pvp/lookatplayer/462590">Robin Bynum III</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/462590">Robin Bynum III</a> (450)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461766">Mystle Obelyn</a> (38)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/468754">Espeser Epix III</a> (38)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/470025">Valri Delacroix VI</a> (37)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/469966">Tiffany Anders</a> (37)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/463101">Vivianne Mcqueen</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461598">Nina Lighty</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/467738">Jacqui Tara</a> (31)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/466978">Nikki Aliyah III</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a> (16)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461646">Madge Mercy</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461551">Freya Rein</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462308">Tyrel Kearns</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/462126">Jack Anzac</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/466119">Kai Silversoul</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461744">James Drake</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/462656">Cursemaker Nix</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461604">Penny Sparrow</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/fallen_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/461694">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461551">Freya Rein</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461646">Madge Mercy</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>64</b></p>
            <p>
                <a href="/pvp/lookatplayer/461563">Witch Anastasia</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461563">Witch Anastasia</a> (64)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/464943">Harold Winston</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/467183">Alex Velaria</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/465239">Oddette Flechta</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461594">Yutki Marie</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461646">Madge Mercy</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/470462">Phil Anthropy</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/468278">Michiko Yon</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461719">Dark Blade</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>1,137</b></p>
            <p>
                <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a> (1,137)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/462308">Tyrel Kearns</a> (657)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (536)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/466119">Kai Silversoul</a> (487)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461646">Madge Mercy</a> (445)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461551">Freya Rein</a> (429)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461744">James Drake</a> (380)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/470478">Krystel Night</a> (331)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461604">Penny Sparrow</a> (327)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/462126">Jack Anzac</a> (165)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/silk_pants_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/465960">Staci Rios II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/465960">Staci Rios II</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/466563">Melanie Cyria III</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/470025">Valri Delacroix VI</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462383">Usagi Sama</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/469277">Rana Sephora</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/468219">Alexis Grove</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/470445">Kinello Hirone</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461688">Tara Rose</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/469694">Crystal Naquin</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461602">Mattie Nye</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>71</b></p>
            <p>
                <a href="/pvp/lookatplayer/461847">Lisa Frost</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (71)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461532">Shredster Khan</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (41)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461754">Summer Fields</a> (37)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461735">Nadia Ayers</a> (34)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461769">Shira 'The Fallen' Baela</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461719">Dark Blade</a> (26)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/466938">Mystic Lilla II</a> (20)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/468490">Dominator Guy II</a> (20)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/464088">Iris Waldron</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>60</b></p>
            <p>
                <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a> (60)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/462412">Kay Flames</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461735">Nadia Ayers</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/469299">Maisie Sterling VIII</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461650">Gwen Majors</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/463350">Jessica Mao</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/467717">Marcellus Ravencrow II</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/466978">Nikki Aliyah III</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/468691">Trudy Gil IV</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>20,100</b></p>
            <p>
                <a href="/pvp/lookatplayer/461931">Pepe Maus</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461931">Pepe Maus</a> (20,100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (13,060)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461556">Evangelina 'You're already Bread' Kraft</a> (11,130)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/462288">Markus Drake</a> (6,515)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (5,985)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (2,630)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/461640">Adriana Beamon</a> (2,460)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461550">Helen Castle</a> (2,175)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (2,025)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/463042">Jane 'Sister Sinister' County</a> (1,690)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_10_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>47</b></p>
            <p>
                <a href="/pvp/lookatplayer/466978">Nikki Aliyah III</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/466978">Nikki Aliyah III</a> (47)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461951">Silke Hose</a> (32)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461602">Mattie Nye</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/468154">Ara Fenrirr</a> (17)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/462364">Candy Cumdump</a> (16)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/467010">Tarquinius Smalls</a> (16)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/466889">Alex Summerset</a> (16)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461701">Cody Smith</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/466177">Hallie Hammett</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/fallen_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/461694">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461694">Rubette Lulette</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/462095">Mage Warrior</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461532">Shredster Khan</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/462011">Lucius Valentine</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461673">Kyrah Amantes</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/462073">Lesser Dog</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/462288">Markus Drake</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/464925">Jesse 'Not So Innocent' Andersen IV</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/464943">Harold Winston</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>8,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/462590">Robin Bynum III</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/462590">Robin Bynum III</a> (8,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461592">Lawrence Cooley</a> (1,207)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (1,075)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461754">Summer Fields</a> (648)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/468064">Maxine Conres II</a> (582)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461840">Cassandra Crowley</a> (369)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/466177">Hallie Hammett</a> (291)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461556">Evangelina 'You're already Bread' Kraft</a> (286)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461984">Janeen Wiccanshire</a> (272)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/461735">Nadia Ayers</a> (258)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>526</b></p>
            <p>
                <a href="/pvp/lookatplayer/461847">Lisa Frost</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/461847">Lisa Frost</a> (526)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/461612">General Stamp</a> (306)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/462412">Kay Flames</a> (92)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/461951">Silke Hose</a> (62)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/461604">Penny Sparrow</a> (47)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/461769">Shira 'The Fallen' Baela</a> (47)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/462010">Alexis Crabtree</a> (34)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/461593">Henny Wuns</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/461623">Alexander Everson</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/462907">Sunday Dawson</a> (33)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>