﻿@model TT.Domain.ViewModels.SettingsPageViewModel
@using TT.Domain.Statics
@{
    ViewBag.Title = "Settings";
    // TODO:  get rid of this crap once all links to round number are done via integer, not string
    var round = int.Parse(PvPStatics.AlphaRound.Split(' ')[2]); // 'Alpha Round 42' gets split up, take the 3rd position which is the number... hack, I know
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Settings.MyBlacklistEntries())">My blacklist entries</a></li>
    <li><a href="@Url.Action(MVC.Settings.SetBio())">Update bio</a></li>
    <li><a href="@Url.Action(MVC.PvP.ReserveName())">Reserve name</a></li>
    <li><a href="@Url.Action(MVC.Info.Rules())">Rules</a></li>
}

<div class="containerInner center-block">
    <h2>Offline Timer</h2>

    <p>
        Your account currently has <b>@Model.Strikes.Count(s => s.Round == round)/@PvPStatics.MaxStrikesPerRound</b> strikes against it this round and a total of @Model.Strikes.Count() throughout your account lifetime.  Read more about strikes <a href="@Url.Action(MVC.Info.Rules())" target="_blank">here</a>.

        @{
            if (Model.Strikes.Any())
            {
                <table class="table table-hover dt-responsive messageTable">
                    <thead>
                        <tr>
                            <th>Date/Time</th>
                            <th>Reason</th>
                            <th>Round</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var strike in Model.Strikes)
                            {
                                <tr>
                                    <td>@strike.Timestamp.ToString("MMMM dd, yyyy")</td>
                                    <td>@strike.Reason</td>
                                    <td>@strike.Round</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }

    </p>

    @{
        if (Model.TimeUntilLogout >= 60)
        {
            <p>Your character is offline.</p>
        }
        else if (Model.TimeUntilLogout > 0)
        {
            <p>You will go into offline mode in <b>@Model.TimeUntilLogout</b> minutes.</p>
        }
        else
        {
            <p><span class="good">You are offline.</span></p>
        }

        <p>You were last in combat <b>@Math.Abs(Math.Floor(Model.Player.GetLastCombatTimestamp().Subtract(DateTime.UtcNow).TotalMinutes))</b> minutes ago.</p>

        if (Model.Player.Mobility != PvPStatics.MobilityFull)
        {
            if (Model.TimeUntilReroll > 0)
            {
                <p>You can restart your character in <b>@Model.TimeUntilReroll</b> minutes.</p>
            }
            else
            {
                <p>You can restart your character <b>now</b>.</p>
            }

            <p>You currently <b>@(Model.PlayerItem.ConsentsToSoulbinding ? "consent" : "do not consent")</b> to being soulbound.</p>
            <p><a href="@Url.Action(MVC.Item.SetSoulbindingConsent(!Model.PlayerItem.ConsentsToSoulbinding))">
                @(!Model.PlayerItem.ConsentsToSoulbinding ? "Consent" : "Refuse consent") to be soulbound
            </a><br></p>
        }


        if (User.IsInRole(PvPStatics.Permissions_MultiAccountWhitelist))
        {
            <p class="good">You are on the multiple account whitelist.</p>
        }

        if (User.IsInRole(PvPStatics.Permissions_Moderator))
        {
            <p class="good">You are on the chat moderators list.</p>
        }

        if (User.IsInRole(PvPStatics.Permissions_Proofreader))
        {
            <p class="good">You are on the proofreaders list.</p>
        }

        if (User.IsInRole(PvPStatics.Permissions_Publisher))
        {
            <p class="good">You are on the publishers list.</p>
        }

        if (User.IsInRole(PvPStatics.Permissions_Previewer))
        {
            <p class="good">You are on the contribution previewer list. <a href="@Url.Action(MVC.PvPAdmin.ApproveContributionList())">Preview Contributions</a><br></p>
        }

        if (User.IsInRole(PvPStatics.Permissions_SpellApprover))
        {
            <p class="good">You are on the spell approvers list. <a href="@Url.Action(MVC.PvPAdmin.ApproveContributionList())">Preview Contributions</a><br></p>
        }

        if (User.IsInRole(PvPStatics.Permissions_Artist))
        {
            <p class="good">
                You are on the artists list. <a href="@Url.Action(MVC.Settings.WriteAuthorArtistBio())">Update your Artist Biography</a><br>
                <a href="@Url.Action(MVC.Settings.SetArtistBioVisibility(true))">List my artist bio</a><br>
                <a href="@Url.Action(MVC.Settings.SetArtistBioVisibility(false))">Do not list my artist bio</a>
            </p>
        }

        if (User.IsInRole(PvPStatics.Permissions_Killswitcher))
        {
            <p class="good">You are on the update killswitch list.   <span class="bad">Activate this link when and ONLY when you and a number of animate players are receiving error screens and are unable to play.  Clicking this link will temporarily disable turn updates so bots do not attacker players who are incapable of responding.  <a href="@Url.Action(MVC.PvPAdmin.Killswitch())">CLICK HERE TO ACTIVATE.</a></span></p>
        }

        if (User.IsInRole(PvPStatics.Permissions_QuestWriter))
        {
            <p class="good">You are on the questwriters list. <a href="@Url.Action(MVC.QuestWriter.Index())">Write Quests</a></p>
        }

        if (User.IsInRole(PvPStatics.Permissions_Chaoslord))
        {
            <p class="good">You are on the chaoslord list.</p>
        }

    }

    <h2>View Statistics</h2>

    <p><a href="@Url.Action(MVC.Settings.PlayerStats(Model.Player.MembershipId))">View your statistics for this round</a></p>

    <h2>Reserve this Name</h2>
    <p>
        You can reserve your name so that no other players take it at the start of a new round and steal your identity.
        You must be level 3 or higher in order to do this.<br><br>
        <a href="@Url.Action(MVC.PvP.ReserveName())">Reserve Name</a><br>
        <a href="@Url.Action(MVC.Settings.UseMyCustomForm())">Use my custom starting form (if available)</a>
    </p>


    <h2>Update Your Biography</h2>

    <p>
        You can write a short bio of yourself or this player here.  You can also select RP tags which will indicate to others what your roleplaying theme interests include or exclude.<br><br>
        <a href="@Url.Action(MVC.Settings.SetBio())">Update My Bio</a>
    </p>


    <h2>RP Mode</h2>

    <p>
        If you choose to enter RP mode, you are publicly indicated to other players that you enjoy roleplaying.
        You can enable and disable this at any time you want.  Click on the link below to enter RP mode.<br><br>
        @{
            if (Model.Player.InRP)
            {
                <span class="good">You have your RP flag enabled.  Click <a href="@Url.Action(MVC.Settings.ChangeRPMode(false))">HERE</a> to turn it off.</span>
            }
            else
            {
                <span class="bad">You have your RP flag disabled.  Click <a href="@Url.Action(MVC.Settings.ChangeRPMode(true))">HERE</a> to turn it on.</span>
            }

        }
    </p>

    @{
        if (PvPStatics.ChaosMode)
        {
        <p>
            <h4 class="bad">CHAOS MODE OPTIONS ONLY:</h4>
            @using (Html.BeginForm(MVC.Settings.ChangeGameMode(), FormMethod.Post))
            {
                var SP = (int)GameModeStatics.GameModes.Superprotection;
                var P = (int)GameModeStatics.GameModes.Protection;
                var PVP = (int)GameModeStatics.GameModes.PvP;

                @Html.AntiForgeryToken()
                @Html.Hidden("Mode", "")
                <a style="cursor:pointer;" onclick="document.getElementById('Mode').value='@SP';this.closest('form').submit();return false;">Enter SuperProtection Mode</a><br>
                <a style="cursor:pointer;" onclick="document.getElementById('Mode').value='@P';this.closest('form').submit();return false;">Enter Protection Mode</a><br>
                <a style="cursor:pointer;" onclick="document.getElementById('Mode').value='@PVP';this.closest('form').submit();return false;">Enter PvP Mode</a><br>
            }
            <a href="@Url.Action(MVC.Settings.ChaosRestoreBase())">Change back into base form</a><br>

            @{
                if (Model.ChaosChangesEnabled)
                {
                    <a href="@Url.Action(MVC.Settings.AllowChaosChanges(false))">Disallow chaos mode changes to your account</a><br>
                }
                else
                {
                    <a href="@Url.Action(MVC.Settings.AllowChaosChanges(true))">Allow chaos mode changes to your account</a><br>
                }
            }

            <a href="@Url.Action(MVC.Quest.ResetQuests())">Reset All Quests and Abandon Current</a><br>
        </p>
        }
    }


    <h2>Protection Mode</h2>

    <p>
        Transformania Time currently functions with three different modes; Super Protection, Protection, and Player v. Player. In <b>Super Protection</b>, all spells are disabled from being cast against you by other players. <b>Protection</b> mode is used for those players who do not wish to have inanimate, pet, or mind-control spells cast upon them by other players. Lastly, while in <b>Player v. Player (or PvP)</b> mode, the game is much more competitive and all spells can be cast upon you by other PvP players. Barring Super Protection mode, you may only cast the appropriate spells on players sharing your mode. The rules of these modes are exempt by AI players (psychopaths and bosses), as well as those you add to your friend's list. Being friends with another playing enables them to cast any type of spell on you, regardless of the game mode either of you are currently in.<br><br><span class="bad">While in PvP, you consent to being a target of any spell cast upon you. Another player does not have to respect your preferences. If you do not consent to such restriction or the play that Player versus Player entails, you may opt to set your mode to Super Protection. Once you have opted to set yourself to Protection or Super Protection, you may not switch your mode for the rest of the normal round. Neither moderators nor admins will assist in getting you back into PvP if you have opted for Protection in one way or another. Changing your mode to Protection will also remove any dungeon points you may have accumulated</span><br><br>

            @{
                switch (Model.Player.GameMode)
                {
                    case (int)GameModeStatics.GameModes.Protection:
                        using (Html.BeginForm(MVC.Settings.ChangeGameMode(), FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Mode", (int)GameModeStatics.GameModes.Superprotection)
                            <input type="submit" value="Enter Super Protection Mode">
                        }
                    break;
                    case (int)GameModeStatics.GameModes.Superprotection:
                        using (Html.BeginForm(MVC.Settings.ChangeGameMode(), FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Mode", (int)GameModeStatics.GameModes.Protection)
                            <input type="submit" value="Enter Protection Mode">
                        }
                    break;
                    case (int)GameModeStatics.GameModes.PvP when Math.Abs(Math.Floor(Model.Player.GetLastCombatTimestamp().Subtract(DateTime.UtcNow).TotalMinutes)) > 30:
                        using (Html.BeginForm(MVC.Settings.ChangeGameMode(), FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Mode", (int)GameModeStatics.GameModes.Superprotection)
                            <input type="submit" value="Enter Super Protection Mode">
                        }
                    break;
                    case (int)GameModeStatics.GameModes.PvP:
                        <span class="bad">You cannot leave PvP mode until you have been out of combat for thirty (30) minutes.</span>
                    break;
                }
            }
    </p>
    @{

        if (Model.Player.GameMode == 0 || Model.Player.GameMode == 1)
        {
            <h2>Lower your WP (Protection Mode only)</h2>

            <p>
                You can voluntarily submit to the magic of a friend (or enemy?) more quickly by voluntarily lowering your willpower to make yourself more vulnerable to attacks.<br><br>

                <a href="@Url.Action(MVC.Settings.DumpWillpower("half"))">Decrease Willpower to Half</a><br><br>
                <a href="@Url.Action(MVC.Settings.DumpWillpower("full"))">Decrease Willpower to Zero</a>
            </p>

        }

    }

    <h2>Change your Chat Color</h2>

    <p>
        You can change the color that your name appears in the game's chats below.<br><br>
        <b>
            <span style="color:black;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("black"))">Black</a></span>
            <span style="color:blueviolet !important;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("blueviolet"))">Blue Violet</a></span>
            <span style="color:cadetblue;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("cadetblue"))">Cadet Blue</a></span>
            <span style="color:darkcyan;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("darkcyan"))">Dark Cyan</a></span>
            <span style="color:darkolivegreen;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("darkolivegreen"))">Dark Olive Green</a></span><br>
            <span style="color:#A1770F;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#A1770F"))">COLOR</a></span>
            <span style="color:green;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("green"))">Green</a></span>
            <span style="color:indigo;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("indigo"))">Indigo</a></span>
            <span style="color:lightcoral;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("lightcoral"))">Light Coral</a></span>
            <span style="color:mediumpurple;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("mediumpurple"))">Medium Purple</a></span>
            <span style="color:#C98300;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#C98300"))">COLOR</a></span>
            <span style="color:#747474;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#747474"))">COLOR</a></span>
            <span style="color:#5B67C5;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#5B67C5"))">COLOR</a></span>
            <span style="color:#8B5DA2;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#8B5DA2"))">COLOR</a></span>
            <span style="color:#DE45DC;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#DE45DC"))">COLOR</a></span>
            <span style="color:#249B6C;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#249B6C"))">COLOR</a></span>
            <span style="color:#337158;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#337158"))">COLOR</a></span>
            <span style="color:#716E33;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#716E33"))">COLOR</a></span>
            <span style="color:#986AAA;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#986AAA"))">COLOR</a></span>
            <span style="color:#87249B;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#87249B"))">COLOR</a></span>
            <span style="color:#4D5277;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#4D5277"))">COLOR</a></span>
            <span style="color:#5F8DBA;">[] <a href="@Url.Action(MVC.Settings.SetChatColor("#5F8DBA"))">COLOR</a></span>
        </b>
    </p>

    <h2>Set your Nickname (Donation Feature)</h2>
    <p>
        Players who pledge $7 monthly on Patreon (Tier 2) may create a nickname and change it at any time.  Nicknames must be 20 characters or fewer and will appear inbetween your player's first and last names.<br><br>

        <a href="@Url.Action(MVC.Settings.SetNickname())">Set your nickname</a><br><br>
    </p>

    <h2>Player Blacklist</h2>
    <p>
        View and update any blacklist entries you have set. <a href="@Url.Action(MVC.Settings.MyBlacklistEntries())">My Blacklist Entries</a>
    </p>

    <h2>Audio Notifications</h2>

    <p>You can toggle audio notifications here.  Audio notifications will play short, sometimes repeating sounds when certain events happen in game.  (This does not work across all browers, particularly mobile OSes.)</p>

    <p id="toggleAudio_update"><a>Click here to toggle update audio notifications for turn updates.</a>  This will play a chiming sound when a turn has ended.</p>

    <p id="toggleAudio_attack"><a>Click here to toggle attack notifications.</a>  This will play a short when you are attacked ingame.</p>

    <p id="toggleAudio_message"><a>Click here to toggle message audio notifications.</a>  This will play a short sound when you receive a new message from another player.</p>

    <h2>Chrome/Firefox Notifications</h2>
<p id="togglePush"><a>Click here to toggle Chrome/Firefox notifications.</a>  If you enable these, you will recieve HTML5 Notifications which will create small popups on your screen when you receive a notice, even if the browser is minimized.  You must also grant this site permission to send notifications; your browser should prompt you for permission the first time it tries to send one.</p>

<h2>Move with WASD Keys</h2>
<p id="keyMovement"><a>Click here to toggle whether or not the WASD keys are configured to move your character north, west, south, or east on the main play page.</a></p>

</div>

@section scripts
{
    <script>
    $(document).ready(function () {

        $("#toggleAudio_update").click(function () {
            toggleFeature("play_updateSoundEnabled", "Update audio notification");
        });

        $("#toggleAudio_attack").click(function () {
            toggleFeature("play_AttackSoundEnabled", "Attack audio notifications");
        });

        $("#toggleAudio_message").click(function () {
            toggleFeature("play_MessageSoundEnabled", "Message audio notifications");
        });

        $("#togglePush").click(function () {
            toggleFeature("play_html5PushEnabled", "HTML Notifications");
        });

        $("#keyMovement").click(function () {
            toggleFeature("play_keyMovement", "WASD key movement");
        });

    });

    function toggleFeature(localStorageItem, message) {
        var toggle = localStorage.getItem(localStorageItem);

        if (toggle == undefined || toggle == "false") {
            localStorage.setItem(localStorageItem, true);
            alert(message + " ENABLED");
        } else {
            localStorage.setItem(localStorageItem, false);
            alert(message + " DISABLED");
        }
    }
    </script>
}

@section head
{
    <style>
    p {
        border: 1px solid;
        height: auto;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        overflow: auto;
    }
    </style>
}
