﻿@{
    ViewBag.Title = "Covenant Administration";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner">

    <h3>Covenant Administration</h3>

    <p>You can administer your covenant here.  When you expand your covenant safeground you increase your covenant's level by 1 which allows it to hold more furniture and increase the action point refill bonus from resting in the covenant's safeground.</p>

    @{
        if (ViewBag.LeaderOrCaptain == "leader")
        {
            <p>
                <a href="@Url.Action(MVC.Covenant.ReviewMyCovenantApplications())">View Applications</a><br>
                <a href="@Url.Action(MVC.Covenant.ChangeCovenantDescription())">Change Covenant Description</a><br>
                <a href="@Url.Action(MVC.Covenant.InviteCaptainList())">Promote a member to a captain</a><br>
                <a href="@Url.Action(MVC.Covenant.InviteLeaderList())">Promote a member to a leader</a><br>
                <a href="@Url.Action(MVC.Covenant.KickList())">Kick Out a Member</a><br>
                <a href="@Url.Action(MVC.Messages.CovenantWideMessage())">Message all members of your covenant</a><br>
                <a href="@Url.Action(MVC.Covenant.ClaimLocation())">Claim your location as a Covenant safeground</a><br>
                <a href="@Url.Action(MVC.Covenant.UpgradeSafeground())">Expand Covenant Safeground (@ViewBag.UpgradeCost Arpeyjis)</a><br>
            </p>
        }
    }
</div>