﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="never">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "Transformania Time" : $"{ViewBag.Title} - Transformania Time")</title>

    <link href="@Links.lib.twitter_bootstrap.css.bootstrap_css" rel="stylesheet">
	<link href="@Links.Content.custom_css" rel="stylesheet">
	<link href="@Links.Content.PvP_css" rel="stylesheet">
    <link href="@Links.lib.datatables_net_bs.dataTables_bootstrap_css" rel="stylesheet">
    <link href="@Links.lib.datatables_net_responsive_bs.responsive_bootstrap_css" rel="stylesheet">

    <link rel="shortcut icon" href="/Images/PvP/Icons/tt_logo.ico">
    @RenderSection("head", false)
  </head>
<body>
 <div class="container" id="siteTop">
 <nav class="navbar navbar-default outsideContainer navbarTT1">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		@Html.Partial(MVC.Shared.Views._MenuPartial)
      </ul>

      <ul class="nav navbar-nav navbar-right">
		@Html.Partial(MVC.Shared.Views._LoginPartial)
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
@if (IsSectionDefined("menu"))
{
    <nav class="navbar navbar-default outsideContainer navbarTT2">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav" style="width:100%;">
                    @RenderSection("menu")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
}
<div>
    <p id="resultContainer" class="infoMessage result">@Html.Raw(ViewBag.Result)</p>
    <p id="errorContainer" class="infoMessage error">@Html.Raw(ViewBag.ErrorMessage)</p>
    <p id="suberrorContainer" class="infoMessage suberror">@Html.Raw(ViewBag.SubErrorMessage)</p>
</div>
    @RenderBody()
@if (IsSectionDefined("menubottom"))
{
    <nav class="navbar navbar-default outsideContainer navbarTT2">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <ul class="nav navbar-nav" style="width: 100%;">
                    @RenderSection("menubottom")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
}
</div>

<div class="container" >
    <footer class="outsideContainer footerTT">
        <a href="#siteTop">[ Back to top ]</a> || <a href="@Url.Action(MVC.Account.TermsOfService())" target="_blank">[ Terms of Service ]</a> || <a href="@Url.Action(MVC.Account.PrivacyPolicy())" target="_blank">[ Privacy Policy ]</a> || Transformania Time :: 2013 - @DateTime.UtcNow.Year
    </footer>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="@Links.lib.jquery.jquery_js"></script>
<script src="@Links.lib.datatables_net.jquery_dataTables_js"></script>
<script src="@Links.lib.datatables_net_bs.dataTables_bootstrap_js"></script>
<script src="@Links.lib.datatables_net_responsive.dataTables_responsive_js"></script>
<script src="@Links.lib.datatables_net_responsive_bs.responsive_bootstrap_js"></script>
<script src="@Links.lib.moment_js.moment_js_"></script>
<script src="@Links.lib.jquery_ajax_unobtrusive.jquery_unobtrusive_ajax_js"></script>
<script src="@Links.lib.twitter_bootstrap.js.bootstrap_js"></script>
@RenderSection("scripts", false)
<script src="@Links.Scripts.boxesResize_js"></script>
</body>
</html>